@model List<Departamento>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Departamentos
    </a>
    <ul class="dropdown-menu dropdown-menu-dark">
        @foreach (Departamento departamento in Model)
        {
            <li><a class="dropdown-item" asp-controller="Paginacion" asp-action="DetailsEmpleadoByIdDept" asp-route-iddepartamento="@departamento.IdDepartamento">@departamento.Nombre</a></li>
        }
        
    </ul>
</li>